<main class="page-content" style="margin-top: -600px">
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <button (click)="goToAdd()" type="button" class="btn btn-outline-dark px-5 rounded-0">Ajouter Offre</button>
  </div>

  <div class="ms-lg-3">
    <div class="btn-group">


    </div>
  </div>
  <div class="card bg-transparent shadow-none">
    <div class="card-body">

      <h6 class="mb-0 text-uppercase">Liste des Offres</h6>

      <div class="row row-cols-1 row-cols-lg-3 justify-content-center g-lg-5">
        <div class="col" *ngFor="let i of ToShow">
          <div class="card">
            <img [src]="i.image" height="100px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.intitule}}</h5>
              <p class="card-text">Description : {{i.description}}</p>
              <p class="card-text">Nombre de places : {{i.nbPlaces}}</p>
              <p class="card-text"> {{i.dateDeCreation | date:'yyyy-MM-dd'}}</p>
              <a href="#" class="btn btn-outline-dark" style="margin-right: 5px">Postuler</a>
              <a (click)="edit(i.idOffre)" class="btn btn-outline-secondary">Modifier</a>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</main>
