<ng-container *ngIf="roleConnected=='ROLE_ETUDIANT'">
 <header class="top-header">
   <nav class="navbar navbar-expand-lg justify-content-between">
     <div class="mobile-toggle-icon fs-3">
       <i class="bi bi-list"></i>
     </div>
   </nav>
 </header>


 <aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <img src="assets/logo.png" class="logo-icon" alt="logo icon">
      </div>
      <div>
        <h4 class="logo-text">EspritForum</h4>
      </div>

    </div>

    <ul class="metismenu" id="menu">
      <li>
        <a routerLink="" >
          <div class="parent-icon"><i class="bi bi-house-fill"></i>
          </div>
          <div class="menu-title">Home</div>
        </a>

      </li>
      <li class="menu-label">Sections</li>
      <li>

        <a routerLink="offres"  >
          <div class="parent-icon"><i class="bi bi-newspaper"></i>
          </div>
          <div class="menu-title">Offres de Stages</div>
        </a>
        <a class="text-decoration-none" (click)="logout()" >
          <i class="bi bi-arrow-left-circle"></i>
          <div class="menu-title">Se Déconnecter</div>
        </a>
      </li>
    </ul>


  </aside>
<router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="roleConnected=='ROLE_ADMIN'">
    <header class="top-header">
        <nav class="navbar navbar-expand-lg justify-content-between">
            <div class="mobile-toggle-icon fs-3">
                <i class="bi bi-list"></i>
            </div>


        </nav>
    </header>


    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="assets/logo.png" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">EspritForum</h4>
            </div>

        </div>

        <ul class="metismenu" id="menu">
            <li>
                <a routerLink="" >
                    <div class="parent-icon"><i class="bi bi-house-fill"></i>
                    </div>
                    <div class="menu-title">Home</div>
                </a>

            </li>
            <li class="menu-label">Sections</li>
            <li>

                <a routerLink="offress"  >
                    <div class="parent-icon"><i class="bi bi-newspaper"></i>
                    </div>
                    <div class="menu-title">Offres de Stages</div>
                </a>
                <a class="text-decoration-none" (click)="logout()" >
                    <i class="bi bi-arrow-left-circle"></i>
                    <div class="menu-title">Se Déconnecter</div>
                </a>
            </li>
        </ul>


    </aside>
    <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="roleConnected=='ROLE_EXPOSANT'">
    <header class="top-header">
        <nav class="navbar navbar-expand-lg justify-content-between">
            <div class="mobile-toggle-icon fs-3">
                <i class="bi bi-list"></i>
            </div>


        </nav>
    </header>


    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="assets/logo.png" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">EspritForum</h4>
            </div>

        </div>

        <ul class="metismenu" id="menu">
            <li>
                <a routerLink="" >
                    <div class="parent-icon"><i class="bi bi-house-fill"></i>
                    </div>
                    <div class="menu-title">Home</div>
                </a>

            </li>
            <li class="menu-label">Sections</li>
            <li>

                <a routerLink="mesoffres"  >
                    <div class="parent-icon"><i class="bi bi-newspaper"></i>
                    </div>
                    <div class="menu-title">Mes Offres de Stages Proposés</div>
                </a>
                <a class="text-decoration-none" (click)="logout()" >
                    <i class="bi bi-arrow-left-circle"></i>
                    <div class="menu-title">Se Déconnecter</div>
                </a>
            </li>
        </ul>


    </aside>
    <router-outlet></router-outlet>
</ng-container>
