<ng-container *ngIf="test==true;else elseBlock">
<div class="wrapper">

  <main class="authentication-content">
    <div class="container-fluid">
      <div class="authentication-card">
        <div class="card shadow rounded-0 overflow-hidden">
          <div class="row g-0">
            <div class="col-lg-6 bg-login d-flex align-items-center justify-content-center">
              <img src="assets/esprit.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
              <div class="card-body p-4 p-sm-5">
                <h1 class="card-title">S'authentifier</h1>
                <h3 class="card-text mb-5">"Empowering Dreams, Igniting Futures: Where Passion Meets Opportunity!"!</h3>
                <form class="form-body" *ngIf="!isLoggedIn" name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


                  <div class="row g-3">
                    <div class="col-12">
                      <label class="form-label">Entrer le Username</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                        <input type="email" class="form-control radius-30 ps-5" name="username" [(ngModel)]="form.username" required #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
                      </div>
                      <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                        Username is required!
                      </div>
                    </div>
                    <div class="col-12">
                      <label  class="form-label">Entrer Mot De Passe</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                        <input type="password" class="form-control radius-30 ps-5" name="password"  [(ngModel)]="form.password" required minlength="4" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                      </div>

                    </div>
                    <div class="col-6">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Rapelle moi</label>
                      </div>
                    </div>
                    <div class="col-6 text-end">	<a href="authentication-forgot-password.html">Mot de passe oublié ?</a>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button type="submit" class="btn btn-primary radius-30">Sign In</button>
                      </div>
                    </div>
                    <div class="col-12">
                      <p class="mb-0">Vous n'avez pas de compte ? <a (click)="onClick()" style="color:#1a2232;text-decoration: underline">Fais Un Compte ici</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--end page main-->

</div>
</ng-container>
<ng-template #elseBlock>
  signup
  <a (click)="onClick()">Retourner à la page d'authentfication !</a>
</ng-template>
